<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
<head>
<title>Personality Insights Python Starter Application</title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon"/>
<link rel="icon" href="static/images/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="static/css/watson-bootstrap-dark.css"/>
<link rel="stylesheet" href="static/css/browser-compatibility.css"/>
<link rel="stylesheet" href="static/css/watson-code.css"/>
<link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<div class="container">
	<div class="header row">
		<div class="col-lg-3">
			<img src="static/images/app.png"/>
		</div>
		<div class="col-lg-8">
			<h1>Personality Insights Python Starter Application</h1>
			<p>The Personality Insights service uses linguistic analytics to
				extract a spectrum of cognitive and social characteristics from the
				text data that a person generates through text messages, tweets,
				posts, and more.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<h2>Try the service</h2>
			<div class="well" style="height: 400px;">
				<form method="post" class="form-horizontal"  action="/">
					<fieldset>
						<div class="form-group row">
							<div class="col-lg-12">
								<textarea id="textArea" name="content" rows="15"
									placeholder="Please enter the text to analyze..."
									class="form-control">${content}</textarea>
							</div>
						</div>
						<div style="margin-bottom: 0px; padding-top: 5px;"
							class="form-group row">
							<div class="col-lg-4 col-lg-push-8">
								<button type="submit" class="btn btn-block">Analyze</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="col-lg-6">
			<h2>Output</h2>
			<div class="row">
				<div class="col-lg-12">
					% if traits:
					<div class="well" style="height: 400px; overflow: auto;">
						% for trait in traits:
							<div class="row ${'flag' if trait['title'] else ''}">
								<div class="col-lg-10">
									<span>${trait["id"]}</span>
								</div>
								<div class="col-lg-2">
									<span>${trait["value"]}</span>
								</div>
							</div>
						% endfor
					</div>
					% endif
					% if error:
					<div class="well">
						<p style="font-weight:bold;color:red;">Error: ${error}</p>
					</div>
					% endif
				</div>
			</div>
		</div>
	</div>
	% if viz:
	<div class="row">
		<div class="col-lg-12">
			<h2>Visualization</h2>
			${viz}
		</div>
	</div>
	% endif
</div>
<script type="text/javascript" src="static/js/css_browser_selector.js"></script>
<script type="text/javascript" src="static/js/dummy-text.js"></script>
% if not content:
<script type="text/javascript">
	window.onload = function() {
		document.getElementById('textArea').value = dummy_text;
	}	
</script>
% endif
</body>
</html>
